@font-face {
    font-family: 'HelveticaNeue-Bold'; 
    src: url('../fonts/Helvetica-Neu-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue-BlackCond'; 
    src: url('../fonts/HelveticaNeue-BlackCond.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue-Light'; 
    src: url('../fonts/HelveticaNeue-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue-Medium'; 
    src: url('../fonts/HelveticaNeue-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue-Thin-Medium'; 
    src: url('../fonts/HelveticaNeue-Thin-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-Neue'; 
    src: url('../fonts/HelveticaNeue.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeueBd'; 
    src: url('../fonts/HelveticaNeueBd.ttf') format('truetype');
}
.titlemodal{
  
    font-weight: 700;
    color:#014A83;  
}
.modal-header {
    border-bottom: none;
}
.checkbox{
    color:#014A83;
}
.labelform{
    font-weight: 500;
    color:#014A83;  
}
.btncolor{
    border-radius: 4px!important;
    background-color: #FBB03B;
    padding: 9px 38px;
    border-color: #fbb03b;
}
.btncolor:hover {
    background-color: #8594A0;
}
.btncancel{
    border-radius: 4px!important;
    background-color: #8594A0;
    color: white;
    padding: 9px 38px;
}
.inputstyle{
    
    border: 1px solid #3B86FF;
}
.prices{
    margin-left: 99px;
}
footer{
    background-color: #014A83;
    height:68px;

}
.navbar-default .navbar-nav>li>a {
    color: white;
    size: 23px;
    font-family: Helvetica, sans-serif;
}
.navbar-default {
    background-color: #03243F;
    border-color: white;
}
    
a.size-title {
    size: 32px;
}
@media (min-width: 768px) {
.navbar {
    border-radius: 0;
}
}
.section2{
   /* height: 180vh;*/
    background-size: contain;
    background-repeat: no-repeat;
}
nav.navbar.navbar-default {
    margin-bottom: 0;
    top: -1px;
    height: 73px;
    box-shadow: 0px 3px 10px black;
    /* z-index: 999999999999999999; */
}

.navbar-header { 
    padding: 14px;
}

.navbar-collapse {
    background-image: linear-gradient(90deg,#014A83, #03243F) !important;
    margin-top: -6px;
    border-top: 0;
    padding: 20px;
}
.titlecontrol{
    font-size: 48px;
    font-family: Helvetica;
    font-weight: bold;
    margin: 0px;
    padding: 0px 20px;
}
.navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
}
.btn-default:hover {
    color: white;
    background-color: #FBB03B;
    border-color: #FBB03B;
    box-shadow: 0px 0px 6px #FBB03B;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: white;
    background-color: #FBB03B;
    border-color: #FBB03B;
}
.btn-default.focus, .btn-default:focus {
    color: white;
    background-color: #FBB03B;
    border-color: #FBB03B;
}
/* .navbar-right {
    float: right!important;
    margin-right: -17px;
} */
.btn{
    border-radius: 1px;
}
li.space {
    margin-right: 20px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: #00000000;
}
.navbar-default {
    border-bottom-color: #111111;
    background-image: linear-gradient(90deg,#014A83, #03243F);
}

.section-one {
    height: 100vh;
}
#hero1{
    background:url(../img/adult.png)no-repeat center;
     background-size:cover;
     background-position:center center;
     height:100%;
     width:100%;
     text-align:center;
    -webkit-filter: blur(13px);
    -moz-filter: blur(13px);
    -o-filter: blur(13px);
    -ms-filter: blur(13px);
    filter: blur(3px) brightness(50%);
    position: absolute;
    left:0;
}
   
   
.hero, .content{
    text-align:center; 
    position:relative;
    width: 100%;
  }
  
  .inner{
    min-height:500px;
    position: relative;
    /* z-index: 99999999; */
  }
  
  section.content.clientes {
    background-color: #FBB03B;
}
  
  .copy{
    position:absolute;  
    height:10em; 
    margin-top:-5em; 
    width:100%;
    margin-top: 150px;
  }
  
    
  .copy2{
    position:absolute; 
    top:11%; 
    height:10em; 
    margin-top:-5em; 
    width:100%;
  }
  .hero h1, .hero p{ 
    color:#fff;
  }
  
  .content h1, .content p{
    
    margin-top: 1em;
    font-family: 'Helvetica-Neue';
    color: #014A83 ;
    filter: opacity(100%);
    font-weight: bold;
    font-size: 41px;
  }
  
  h1{
    margin:0px;
    font-family: 'Roboto Slab', serif;
    font-weight:400;
    font-size:32px;
    padding:0px 20px;
  }
  
  p{
    font-family: 'Noto Sans', sans-serif; 
    font-size:14px;
    padding:0px 20px;
  }
  
  
#hero2{background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/21555/Melissani-cave-natural.jpg);
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
  }
  .section3{
  height: 45px;
  position: relative;
  background-color: #A3CEF0;}.content h1, .content p{
    color:#333;
  }
  .col-xs-9.col-sm-6.col-md-7.col-lg-6.phone-part.text-left {
    margin-left: -25px;
}

.modal-content {
    border-radius: 0;
}

  /*----------Price Box--------------*/

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  .price_columns {
    font-family: Helvetica;
  }
  
  .price {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
  }
  
  .price .priceheader {
    background-color: #014A83;
    color: white;
    font-size: 25px;
    border-radius: 15px 15px 0px 0px;
  }
  
  .price li {
    padding: 10px 25px;
    text-align: center;
  }
  
  .price .grey {
    background-color: #FFFFEF;
    
    color: #014a83;
    font-weight: 700;
    position: relative;
  }

  .price .grey-border {
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .price .grey:nth-last-child(2) {
    border-bottom: 0;
  }

  .price .grey:last-child {
    border-radius: 0px 0px 15px 15px;
    border-bottom: 0;
  }
  
  .pricebutton {
    background-color: #FBA614;
    border: none;
    color: white;
    padding: 6px 37px;
    text-align: center;
    text-decoration: none;
    border-color: #FBB03B;
    box-shadow: 0px 0px 6px #FBB03B;
    position: absolute;
    left: 50;
    top: -5;
}
  
.how-works-container {
}
  @media only screen and (max-width: 520px) {
    .pricecolumns {
      width: 100%;
    }
  }

  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("https://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2") format("woff2"), url("https://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("https://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2") format("woff2"), url("https://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("https://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2") format("woff2"), url("https://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("https://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2") format("woff2"), url("https://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}

body {
	font-family: "Open Sans";
	line-height: 26px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans";
	font-weight: 300;
}
h1 {
	/* font-size: 46px; */
}
h2 {
	font-size: 44px;
}
h3 {
	font-size: 32px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 22px;
	line-height: 30px;
}
h6 {
	font-size: 20px;
}
.section {
	color: #5c6166;
}
.hr.invisible_hr {
    height: 0;
    padding: 0;
}
.hr.big_size_hr {
    margin: 30px 0;
}
.hr {
    clear: both;
    display: block;
    font-size: 0;
    height: 24px;
    margin: 20px 0;
    overflow: hidden;
    padding: 2px 0;
    position: relative;
    text-align: center;
    width: 100%;
}
.highlight_secondary {
    color: #F24046;
}
.team-role {
    color: #A4A7AA;
}
h1.clientsTittle{
color:white !important;

font-size: 48px;
font-family: Helvetica;
font-weight: bold;
text-align: left;
}
.clientsTittles{
    color:white !important;
font-size: 48px;
font-family: Helvetica!important;
font-weight: bold !important;
}
.container-box {
    height: 200px;
    position: relative;
 }
 .tag {
    float: left;
    background-color: #92AD40;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
 }
 .tag2 {
    float: right;
    background-color: #92AD40;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
 }
 h1 {
    /* font-size: 48px; */
    font-family: Helvetica;
    font-weight: bold;
    text-align: left;
}

#image-section4{
    background:url(../img/adult2.jpg)no-repeat center;
    background-size:cover;
    background-position:center center;
    height:100%;
    width:100%;
    text-align:center;
   position: absolute;
   left:0; 
}
.btnRegister{
    margin: 0px 20px;
    margin-top: 16px;
    color: white;
    background-color: #FBB03B;
    border-color: #FBB03B;
    font-size: 24px;
    box-shadow: 0px 0px 6px #FBB03B;
    width: 35%;
    height: 35%;
}
.project-p{
    line-height: 31px;
    margin-top: 9px;
    text-align: justify !important;
    font-family: 'Helvetica';
    font-size: 20px;
    padding-right: 33%;
}
.btn-sign-in{
    color: white;
    background-color: #FBB03B;
    border-color: #FBB03B;
    size: 26px;
    box-shadow: 0px 0px 6px #FBB03B;
    width: 134px; 
    height: 37px;
    margin: 7px 15px; 
    font-family: 'Helvetica';
}
img.iphone {
    width: 100%;
    margin-left: 1px;
    
    margin-top: -15px;
}

.no-padding {
    padding: 0 !important;
}

.phone-container {
}
.phone-container .phone-part {
    padding: 0 !important;
}
.circle2{
    margin-top: 77px;
}
.circle1{
    
    margin-top: 32px;
    margin-left: -6px;
}
.circle3{
    
    margin-top: 115px;
    margin-left: 6px;
}
.circle-p{
    line-height: 19px;
    text-align: left !important;
    font-family: 'Helvetica';
    font-size: 18px;
    margin-left: 25px;
}
.circle2-p{
    line-height: 19px;
    text-align: right !important;
    font-family: 'Helvetica';
    font-size: 18px;
}
.circle3-p{
    line-height: 19px;
    text-align: left !important;
    font-family: 'Helvetica';
    margin-top: 25px;
    width: 73%; 
    font-size: 18px;
}
img.traccerlogo {
    width: 167px;
    margin-top: 5px;
}
.section-for{
    height: calc(100vh - 52px);
}
.section-six{
    height: calc(100vh - 68px);
}
.section5 {
    height: 68px;
    background-image: linear-gradient(90deg,#014A83, #03243F);
}
.section7{
    height: 68px;
    background-image: linear-gradient(90deg,#FBB03B, #EB902D,#E48126);

}
.copy3{
    
    position:absolute;  
    width:100%;
    margin-top: 158px;

}
.iphone2{
    width: 100%;
    /* width: 158%;
    margin-left: -351px;
    margin-top: -64px; */
}
.pc{
    width: 100%;
    
    /* width: 380px;
    margin-left: 230px;
    margin-top: 66px; */
}
.btnPlanes{
    margin-top: 90px;
    color: white;
    background-color: #FBB03B;
    border-color: #FBB03B;
    font-size: 24px;
    box-shadow: 0px 0px 6px #FBB03B;
    width: 200px;
    height: 70px;
    padding: 17px;
}
.pasos{
    
    margin-left: 11px;
    line-height: 19px;
    text-align: right !important;
    font-family: 'Helvetica';
    font-size: 18px;
    font-weight: 700;
}
.pasos1{
    
    margin-top: 0;
}
.pasos2{
    margin-top: 20px;
}

.pasos3{

    margin-top: 20px;
}
.pasos4{

    margin-top: 20px;
}
.pasos5{

    margin-left: 3px;
    margin-top: 20px;
}
img.pasos.contratista {
    margin-left: 46px;
}
img.pasos.suplidores {
    margin-left: 73px;
}
img.pasos.apps {
}

.pasostt{
    
    margin: 0px;
    font-size: 18px;
}
.numero3{
    margin: 0px;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    background: orange;
    color: #fff;
    border-radius: 50%;
    width: 28px;
    margin-left: 11px;
}
.pasos6{
    margin-top: -13px;
    margin-left: -20px;
}
.pasos7{
    margin-top: 20px;
    margin-left: -21px;
}
.pasos8{
    margin-top: 27px;
    margin-left: -19px;
}
.pasos9{
    margin-top: 14px;
    margin-left: -18px;
}
.pasos10{

    width: 356px;
    margin-top: 17px;
    margin-left: -19px;
}
.pasost2{
   
  
    margin-left: 20px;
    margin-top: 4px;
    font-size: 19px;
    
    font-weight: 300;
}
.pasos11{
    margin-top: 16px;
    margin-left: 3px;
}
.pasost3{
    margin-top: 4px;
    font-size: 19px;
    margin-left: 81px;
    
    font-weight: 300;
}
.background-section {
    background-color: #014A83;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: absolute;
}

.step-container {
    /* margin-top: 50px; */
}
.conversation{
    margin-top: 63px;
}
.testimonios{
    
    margin-top: 14px;
}
.h1clients{
   
    margin-top: 80px;
    font-size: 19px;
    color: white !important;
    font-family: Helvetica !important;
    font-weight: bold!important;
    text-align: center!important;

    text-decoration: underline;
}

.section4T{
    
    font-size: 36px !important;
    font-weight: unset !important;
    margin-left: 73px;
}
.img2{
    
    margin-top: 71px;
}
.hrstyle {

    margin-top: 100px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #FBB03B;
    margin-left: -58px;
}
.secondpart{
    
    margin-top: -52px;
}
.users{
    
   
    margin-top: -20px;
}

.inline-block {
    display: inline-block !important;
}
#section-six{
        height: calc(100vh - 52px);
}
.sectionsix{
    
    margin-top: 43px;
}

.profesion{
    width:200px;
    text-align: left !important;
    margin: 0 auto;
    color: #ffffff;
}
.section6s{
    
    padding: 0 10%;
}

.iphone-container {
    width: 70%;
    position: absolute;
    top: -100px;
    z-index: 1;
}

.iphone-container img{
    width: 100%;
}

.macbook-container {
    width: 70%;
}

.macbook-container img{
    width: 100%;
}
.display-block {
    display: block;
}

.profesion label {
    margin-top: -10px;
}

.profesion .ocupation-label {
    font-weight: 100;
    font-style: italic;
}

.profesion .ocupation {
    font-size: 16px;
}
.section8{
    
    background-color: #A3CEF0;
    height: calc(109vh - 93px);
}
.ballonimg {
    background-image: url(../img/balloon.svg);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: left 50px top 50px;
}
.free-traccer{
     margin-top: 70px;
}
.titlecolor{
font-family: Helvetica;
    color:#014A83;
font-weight: bold;    
}
.incluyeReq{
    
    padding-left: 38px;
    text-align: left !important;
    margin: 0 auto;
    color: #ffffff;
}


.incluyeReq .ocupation {
    font-size: 16px;
    color:#014A83;
    line-height: 40px;
}
.Incluyetitle{
    
    font-size: 16px;
    line-height: 85px;
    margin-left: -7px;
}

.step-row {
    color: #fff;
    font-weight: 100;
    font-size: 18px;
    font-family: Helvetica;
    margin-bottom: 20px;
}

.step-row-icons {
    margin-left: 56px; 
    margin-bottom: 30px
}

.step-icon {
    margin-right: 10px;
    color: #fff;
    font-size: 16px;
}

.step-icon-label{
    font-weight: 100;
    margin-left: 15px;
}
.step-row label {
    font-weight: 100;
}

.how-works-detail {
    padding: 0 50px;
}

.pasost {
    margin-left: 15px;
}

.price_columns.profesional {
    transform: scale3d(1.1, 1.1, 1);
    box-shadow: 0px 0px 6px 2px rgb(251, 176, 59);
    border-radius: 20px;
}

.price_columns.profesional .pricebutton {
    padding: 8px 15px !important;
}

/* ipad */
/* Portrait */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px)
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    img.pasos.apps {
    }
    img.pasos.contratista {
        margin-left: 37px;
    }
      .prices{
          margin: 0;
      }
    .section-for {
        height: calc(90vh - 52px);
    }
    .iphone2 {
        width: 135%;
        margin-left: -348px;
        margin-top: -64px;
    }
    .step-container {
    }
    
    .pasost3 {
        margin-top: 4px;
        font-size: 17px;
        margin-left: 63px;
        font-weight: 300;
    }
    .pasos10 {
        margin-top: 17px;
        margin-left: -22px;
    }
    .pasost2 {
        margin-left: 4px;
    }
    img.pasos.suplidores {
        margin-left: 56px;
    }
    .hrstyle {
        margin-top: 94px;
        margin-bottom: 20px;
        margin-left: -14px;
    }
    .section4T {
        font-size: 28px !important;
        margin-left: 0px;
    }
    .price_columns.profesional .pricebutton {
        padding: 8px 7px !important;
    }
    .pricebutton {
        padding: 6px 21px;
        left: 23px;
        top: -6px;
    }
    .price li {
        padding: 8px 25px;
    }
    .price .priceheader {
        font-size: 21px;
    }
    .Incluyetitle {
        font-size: 21px;
    }
    .incluyeReq .ocupation {
        font-size: 15px;
    }
    .section8 {
        height: calc(80vh - 93px);
    }
    .section-six {
        height: calc(65vh - 68px);
    }
    .titlecontrol {
           font-size: 26px;
    }
    .circle-p {
        width: 190px;
    }
    .section-one {
        height: 53vh ;
        }
        .copy3 {
            position: absolute;
             width:-1px ;
            margin-top: 158px;
        }
        .btnRegister {
            margin-top: 16px;
            width: 58%;
            height: 35%;
        }
        .project-p {
            width: 317px;
            line-height: 22px;
            font-size: 15px;
}
        
        .circle3 {
            margin-top: 80px;
        }
        .circle1 {
            margin-top: -3px;
            margin-left: -13px;
        }
        .circle2-p {
            margin-left: -82px;
        }
        .circle2 {
            margin-top: 78px;
            margin-left: -39px;
        }
        .circle2img{
            margin-left: 10px;
        }
        .circle3-p {
            line-height: 19px;
            text-align: left ;
            font-family: 'Helvetica';
            margin-top: 25px;
            width: 98px;
            font-size: 14px;
        }
        .circle2-p {
            line-height: 19px;
            text-align: right ;
            font-family: 'Helvetica';
            font-size: 15px;
        }
        .circle-p {
            line-height: 19px;
            text-align: left ;
            font-family: 'Helvetica';
            font-size: 15px;
            margin-left: -45px;
        }
        .circle3img {
            width: 80px;
        }
        .h1clients {
            margin-top: 83px;
            font-size: 16px;
        }
        .btnPlanes {
            margin-top: -4px;
        }
  }
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .pricebutton {
        left: 249;
    }
    .price_columns.profesional {
        transform: none;
        box-shadow: none;
    }
    .prices {
        margin-left: -2px;
    
        margin-top: 134px;
    }
    .price_columns {
        margin-top: 54px;
    }
    footer {
       
        width: 100vw;
    }
    .section8 {
        width: 100vw;
    height: calc(340vh - 93px);
    }
    h1.clientsTittle {
        font-size: 40px;
        margin-left: 46px;
    }    
    .conversationimg{
width: 92px;
    }
    .section7 {
        width: 100vw;
    }
    .section-six {
        height: calc(100vh - 68px);
    }
    .secondpart {
        margin-top: -100px;
    }
    .users {
        margin-top: -56pxpx;
    }
    .h1clients {
        margin-top: -36px;
    }
    .section-six {
        width: 100vw;
    }
    .section5 {
        width: 100vw;
    }
    .btnPlanes {
        margin-top: 1px;
    }
    .pc {
        margin-left: 161px;
        margin-top: 50px;
    }   
    .section4T {
        margin-left: -10px;
    }
    .hrstyle {
        margin-left: -219px;
    }
.iphone2 {
    margin-left: -333px;
}
    .section-one {
        height: 100vh;
        width: 100vw;
    }
    .phone678 {
        margin-top: 124px;
    }
    .section3 {
        width: 100vw;
    }
    .section-for {
        height: calc(100vh - 52px);
        width: 100vw;
    }
    .step-container {
        margin-top: 65px;
    }
}

/* Landscape */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

} 
/*iphone 6/7/8 */
  /* Portrait */
  @media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .pricebutton {
        left: 100;
    }
    .price_columns.profesional {
        transform: none;
        box-shadow: none;
    }
    .section8 {
        height: calc(280vh - 93px);
    }
    .prices {
        margin-left: -2px;
    
        margin-top: 134px;
    }
    .price_columns {
        margin-top: 54px;
    }
    .titlecolor {
        font-size: 23px;
    }
    .ballonimg {
        background-position: left 9px top 50px;
    }
    .section-six {
        height: calc(192vh - 68px);
    }
    .secondpart {
        margin-top: -182px;
    }
    h1.clientsTittles.inline-block {
        
    font-size: 23px;
    }
    .sectionsix {
        margin-top: -71px;
    }
    .testimonios {
        margin-top: -251px;
        margin-left: 36px;
    }
    .h1clients {
        margin-top: -62px;
    }
    .btnPlanes {
        margin-top: 13px;
    }
    .step-icon {
        font-size: 12px;
    }
    .section-for {
        height: calc(121vh - 52px);
    }
    .how-works-detail {
        padding: 0;
    }
    .circle3-p {
        margin-top: 12px;
        width: 115px;
        font-size: 13px;
    }
    .hrstyle {
        margin-top: 92px;
        margin-bottom: 20px;
        margin-left: -28px;
    }
    .pc {
        width: 289px;
        margin-left: 39px;
        margin-top: -10px;
    }
    .step-row {
        font-size: 15px;
    padding: 0px;
}
.step-row-icons {
    margin-left: 3px;
}
    .iphone2 {
        
    width: 219%;
    margin-left: -237px;
    margin-top: -96px;
    }
    .section4T {
        margin-left: -24px;
    }
    
    .circle3 {
        margin-top: 62px;
    }
    .titlecontrol {
        font-size: 27px;
    }
    .project-p {
        width: 100% !important;
        font-size: 16px;
        line-height: 20px;
    }
    .container-box.col-xs-12.col-sm-6.col-md-6.col-lg-6.phone-container.phone678 {
        margin-top: 124px;
    }
    .btnRegister {
        width: 60%;
    }
    .section-one {
        height: 107vh;
    }
    .circle-p {
        font-size: 12px;
        margin-left: -33px;
    }
    .circl1img{
        width: 62px;
    }
    .circle1 {
        margin-top: -28px;
        margin-left: 2px;
    }
    img.circle2img {
        width: 40px;
    }
    .circle2 {
        margin-top: 51px;
    }
    .circle2-p {
        font-size: 12px;
    margin-left: -16px;
    }
  }

    /*iphone 6/7/8 plus*/
  /* Portrait */
@media only screen 
and (min-width: 414px) 
and (max-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    .section-one {
        height: 110vh;
    }
    .btnPlanes {
        margin-top: 3px;
        margin-left: 37px;
    }
    section#testimonios {
        height: calc(175vh - 68px);
    }
    a.btn.btn-default.navbar-btn.btnPlanes.btn-lg.Planbtn {
        margin-top: 3px;
        margin-left: 37px;
    }
    section#planes {
        height: calc(232vh - 93px);
    }
  
}
 /*iphone 6/7/8 plus*/
  /* Portrait */
  @media only screen 
  and (min-width: 414px) 
  and (max-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    div#hero1 {
        width: 168vw;
    } 
    
  }

  /*iphone X*/
  /* Portrait */
@media only screen 
and (min-width: 375px) 
and (max-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    .copy { 
        margin-top: 90px;
    }
    .container-box.col-xs-12.col-sm-6.col-md-6.col-lg-6.phone-container.phone678 {
        margin-top: 0;
    }
    .price_columns.profesional {
        transform: none;
        box-shadow: none;
    }
    .download-app-container {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .price_columns {
        margin-top: 25px;
    }

    .pricebutton {
        right: 50;
    }
    .incluyeReq .ocupation {
        line-height: 29px;
    }
    .section8 {
        background-color: #A3CEF0;
        height: calc(212vh - 93px);
    }
    .ballonimg {
        background-size: 69px;
        background-position: left 27px top 50px;
    }
    .prices {
        margin-left: -2px;
        margin-top: 80px;
    }
    .free-traccer {
        margin-top: 57px;
    } 
    h2 {
        font-size: 20px;
    }
    .testimonios {
        margin-top: -249px;
        margin-left: 39px;
    }
    .h1clients {
        margin-top: -53px;
        margin-left: 23px;
    }
    .h1.clientsTittle{
        font-size: 48px;
    }
    .clientsTittles {
        font-size: 23px!important;
    }
    .secondpart {
        margin-top: -191px;
    }
    .users {
        margin-top: -11px;
    }
    .sectionsix {
        margin-top: -67px;
    }
    .section-six {
        height: calc(167vh - 68px);
    }
    .btnPlanes {
       
    margin-top: 84px;
        margin-left: 37px;
    }
    .section-for {
        height: calc(108vh - 52px);
    }
    .pasos9 {
        margin-top: 14px;
        margin-left: -18px;
    }
    
    img.pasos.apps {
    }
    img.pasos.contratista {
        margin-top: 60px;
        margin-left: -50px;
    }
    .pasost3 {
     
    margin-top: -1px;
    font-size: 19px;
    margin-left: -78px;
    font-weight: 300;
}
    
    img.pasos.suplidores {
        margin-left: -150px;
        margin-top: 19px;
    
    }
    .pasost2 {
        
    margin-left: -53px;
        padding-top: 16px;
    }
    .col-xs-12.col-sm-3.col-md-3.col-lg-3.pasos12 {
        margin-left: -92px;
        margin-top: 31px;
    }
    
    .clientesp{
 
        margin-top: -8px!important;
        margin-left: 20px!important;
    }
    .pasos10 {
        margin-top: 4px;
    
    margin-left: -47px;
    }
    p.pasostt {
        margin-left: 62px;
    }
    .pasos5 {
        margin-top: 96px;
    }
    .pasos7 {
      
    margin-left: 16px;
    margin-top: 26px;
    }
    .pasos8 {
      
    margin-left: 16px;
    margin-top: 3px;
    }
    img.pasos {
    }
    .numero3 {
    }
    .step-container {
        padding: 0;
    }

    
    .step-row {
        font-size: inherit;
    }

    .step-icon {
        margin-right: 5px;
        font-size: inherit;
    }

    .step-icon-label { 
        font-weight: 100;
        margin-left: 0px;
    }

    .step-row label {
    }

    .step-row-icons {
        margin-left: 0; 
    }

    .how-works-detail {
        padding: 0;
    }

    .pasos6 {
        margin-left: 19px;
    }
    .pc {
        width: 286px;
        margin-left: 50px;
        margin-top: -1px;
    }
    .iphone2 {
        width: 356px;
        margin-left: -270px;
        margin-top: -101px;
    }
    .hrstyle {
        margin-top: 97px;
        margin-left: -22px;
    }
    .section4T {
        font-size: 36px !important;
        margin-left: -23px;
    }

    .project-p {
        font-size: 16px;
        width: 334px;
        line-height: 20px;
        width: 100% !important;
    }

    .titlecontrol {
        font-size: 27px;
    }
    .btnRegister {
        width: 59%;
    }
    .circle1 {
        margin-top: 117px;
        margin-left: 27px;
    }
    .circle-p {
        font-size: 14px;
        margin-left: -51px;
    }
    img.iphone {
        width: 144px;
        margin-left: 1px;
        margin-top: 144px;
    }
    .circle3 {
        margin-top: 219px;
        margin-left: 13px;
    }
    .circle3-p {
        
    margin-left: 15px;
        margin-top: 17px;
        width: 86px;
        font-size: 14px;
    }
    .circle2 {
        margin-left: -10px;
    margin-top: 93px;
    }
    .circle2-p {
        font-size: 15px;
        width: 115px;
        margin-top: -65px;
    }
    img.circle3img {
    margin-left: 19px;
    width: 80px;
}
    .pasostt{
        
    }
    .pasos11 {
        margin-top: 16px;
        margin-left: 30px;
    }
}

/* Landscape */
@media only screen 
and (min-width: 375px) 
and (max-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
    .container-box.col-xs-12.col-sm-6.col-md-6.col-lg-6.phone-container {
        margin-top: 29px;
    }
    .section-for {
        height: calc(121vh - 52px)!important;
    }
    .Planbtn {
        font-size: 19px;
      
    width: 196px;
    height: 56px;
    }
    .pc {
        width: 270px!important;
        margin-left: 29px!important;
        margin-top: -40px!important;
    }
    .iphone2 {
        width: 83%!important;
        margin-left: -455px!important;
        margin-top: -107px!important;
    }
    .section-for {
        height: calc(107vh - 52px);
    }
    .pasostt {
        font-size: 17px;
    }
    .step-container {
        margin-top: -269px!important;
    margin-left: 121px!important;
    padding-left: 220px;
    }
    .section4T {
        font-size: 26px !important;
    }
    .hrstyle {
        margin-left: -13px!important;
        width: 643px;
    margin-top: 88px;
    }
    #image-section4 {
        width: 113vw;
    }
    .background-section {
        width: 113vw;
    }
    img.iphone {
        width: 72%;
        margin-left: 80px;
        margin-top: -59px;
    }
#hero1{
    
    width: 113vw;
}
.titlecontrol {
    font-size: 30px!important;
}
.project-p {
    width: 368px;
    font-size: 16px;
}

    .circle2-p {
        font-size: 15px!important;
        width: 115px!important;
        margin-left: -60px!important;
    
}
.circle3 {
    margin-top: 45px;
    margin-left: 35px;
}
.circle1 {
    margin-top: -64px!important;
    margin-left: 72px!important;
}
.circle2 {
    margin-top: 48px!important;
    margin-left: 50px!important;
}
.circle-p {
    
    font-size: 15px;
    margin-left: -87px!important;
}
.btnRegister {
    margin: 0px 20px;
    margin-top: -3px;
    font-size: 22px;
    height: 27%;
    width: 53%!important;
}
.section-one {
    height: 107vh;
}
.circle3-p {
    width: 144%!important;
    font-size: 15px;
}
.section3 {
    width: 113vw;
}
.section5 {
    width: 113vw;
}
.section-six{
    width: 113vw;
    padding-bottom: calc(167vh - 68px);
}
.section7 {
    width: 113vw;
}
.section8 {
    
    padding-bottom: 154vh;
    width: 113vw;
}
.prices {
    
    margin-top: -212px;
    margin-left: 277px;
}
footer {
    width: 113vw;
}
}


/* Landscape */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .Planbtn {
        margin-top: 30px!important;
    }
    img.pasos.apps {
        width: 200px;
        
    margin-left: 0;
    }

    .step-container {
        margin-top: -56px;
    margin-left: 0px;
    }
    .iphone2 {
 
        width: 206%;
        margin-left: -262px;
        margin-top: -107px;
    }
    .pc {
    width: 325px;
        margin-left: 81px;
        margin-top: -9px;
    }
    .titlecontrol {
        font-size: 40px;
    }
        .circle1 {
            margin-top: -14px;
            margin-left: -1px;
        }
      .btnRegister {
            width: 42%;
        }
        .circle-p {
            margin-left: -29px;
        }
        .circle2-p {
            
    font-size: 19px;
    width: 152px;
    margin-left: -55px;
        }
        .circle2 {
            margin-top: 77px;
            margin-left: -8px;
        }
        .circle3-p {
            width: 99%;
        }
        .section-six {
            height: calc(86vh  - 68px)!important ;
        }
        .section4T {
            font-size: 30px ;
            margin-left: 23px;
        }
        .hrstyle {
            margin-left: -85px;
        }
        .section8 {
            height: calc(90vh - 93px)!important;
        }
        .pricebutton {
            padding: 5px 29px;
            left: 29px;
        }

}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */

/* Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .pasos11 {
        margin-top: 16px;
        margin-left: 31px;
    }
    .prices {
        margin-left: 69px;
    }
      .price{
        margin-left: 0px;
      }
    .step-container {
        margin-top: 0px;
    }
    .titlecontrol {
        font-size: 39px;
 }
    .section-one {
        height: 50vh !important;
    }
    .section-for{
        height: calc(46vh - 52px) !important;
    }
    .section-six{
        height: calc(50vh - 68px)!important;
    }
    .section8{
        
        background-color: #A3CEF0!important;
        height: calc(50vh - 93px)!important;
    }
    #section-six{
        height: calc(50vh - 68px)!important;
    }
    .price_columns.profesional .pricebutton {
        padding: 6px 13px !important;
    }
    .pricebutton {
        left: 30px!important;
        padding: 6px 29px!important;
    }
    .btnPlanes {
        margin-top: 51px;
    }
    .btnRegister {
            width: 48%!important;
        }
    .section4T{
                
    font-size: 30px !important;
            }
            .hrstyle {
                margin-top: 93px!important;
                margin-bottom: 20px!important;
                border: 0!important;
                border-top: 2px solid #FBB03B!important;
                margin-left: -154px!important;
            }
            .col-xs-3.col-sm-3.col-md-3.col-lg-3.pasos9 {
                padding-left: 34px;
            }
    
h1 {
    /* font-size: 40px!important; */
}
.iphone2 {
  
    width: 242%!important;
    margin-left: -300px!important;
    margin-top: -73px!important;
}
.pc {
   
    width: 180%!important;
    margin-left: 92px!important;
    margin-top: 66px!important;
}
.circle1 {
    margin-top: 43px!important;
    margin-left: -6px!important;
}
.copy{
    margin-top: 155px!important;
}
.circle3-p {
    width: 99%!important;
  }
  .circle2-p {
    width: 139px!important;
    margin-left: -43px!important;
}
.circle-p {
    width: 190px!important;
    margin-left: -21px!important;
}
.project-p {
    width: 411px;
}
img.iphone {
    width: 109%!important;
    margin-left: 0px!important;
    margin-top: 29px!important;
}
h1 {
    /* font-size: 39px!important; */
}
.circle3 {
    margin-left: 17px!important;
    margin-top: 111px!important;
}
.circle2 {
    margin-left: -5px!important;
}
.pasos1 {
    margin-left: -15px!important;
}
.pasos2 {
    margin-left: -15px!important;
}
.pasos3 {
    margin-left: -15px!important;
}
.pasos4 {
    margin-left: -15px!important;
}
.pasos5 {
    margin-left: -15px!important;
}
.pasostt {
}
.btnPlanes {
    margin-top: 120px;;
}
.apps{
    
    width: 203px;
    margin-left: 0;
}
.contratista{
    margin-left: 25px!important;
}
.pasost2 {
    margin-left: 12px!important;
}
.suplidores{
    
   
    margin-left: 58px!important;
}
.pasost3 {
    
    padding-left: 27px;
    padding-top: 2px;
  }
  .copy3 {
    position: absolute!important;
    width: 100%!important;
}

}
/* Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

  .section-one{
      height: 100vh;
  }
    .section-for{
        height: calc(100vh - 52px);
    }
    .section-six{
        height: calc(100vh - 68px);
    }
    .section8{
        
        background-color: #A3CEF0;
        height: calc(100vh - 93px);
    }
    #section-six{
        height: calc(100vh - 68px);
    }
    .btnPlanes {
        margin-top: 85px;
    }
    
}/*
@media screen 
  and (min-width: 826px) 
  and (max-width: 1900px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .section-one {
        height: 30vh;
    }
    .section-for {
        height: calc(49vh - 52px);
    }
    .section-six {
        height: calc(35vh - 68px);
    }
    .section8 {
        height: calc(40vh - 93px);
    }
}*/



@media screen 
  and (max-width: 991px) {
    .macbook-container {
        width: 50%;
        margin-bottom: 80px;
    }
  }